# Server
SERVER_PORT=8080

# JWT
JWT_SECRET= #для генерации используйте openssl rand -hex 64
JWT_TOKEN_LIFESPAN=24h

# Database
DB_HOST=postgres
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=warehousecontrol
DB_SSLMODE=disable

# Retry 
MAX_RETRIES=3
BASE_DELAY=1s